
<!DOCTYPE html>
<html>
    <head>
        <title> Prognozorator 3000 </title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <header>
            <div class="Pasek_opcji">
                <span id="Rejestracja">Rejestracja</span>
                <span id="Jezyki">PL</span>
                <span id="Dane_uzytkownika">Dane użytkownika</span>
                
            </div>
        </header> 
        <section>
            <div class="title">
                <h1> Prognozowanie cen nieruchomości </h1>
                
            </div>
        </section>
        <section>
            <div class="pierwsze_info">
                
        
        </section>
    </body>
</html>