<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="test_loginu.css">
    <script src="navbar.js"></script>
    
    <script src="https://kit.fontawesome.com/091388427a.js" crossorigin="anonymous"></script>
    

</head>
<body>
    <div class="navbar">
        <div class="Prognostica">Adeptus Prognostica</div>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <nav class="nav-bar">
            <ul>
                <li>
                    <a href="index.html" class="active">Home</a>
                </li>
                <li>
                    <a href="">Funckja 1</a>
                </li>
                <li>
                    <a href="">Funckja 2</a>
                </li>
                <li>
                    <a href="test_login.html">Login</a>
                </li>
                <li>
                        <div id="flag1" class="flag-item" >
                          <img src="PL_flag.svg.png" alt="Flag 1">
                        </div>
                        <div id="flag2" class="flag-item" >
                            <img src="UK_flag.png" alt="Flag 2">
                          </div>
                          <div id="flag3" class="flag-item" >
                            <img src="SPQR_flag.png" alt="Flag 3">
                          </div>
                </li>
            </ul>
        </nav>


    </div>
<div class="container">
    <div class="form-box">
        <h1 id="title">Sign Up</h1>
        <form>
            <div class="input-group">
                <div class="input-field" id="nameField">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" placeholder="Name">
                </div>

                <div class="input-field">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="email" placeholder="Email">
                </div>

                <div class="input-field">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" placeholder="Password">
                </div>
                <p>Lost password <a href="#">Click Here!</a></p>
            </div>
            <div class="btn-field">
                <button type="button" id="signupBtn">Sign up</button>
                <button type="button" id="signinBtn" class="disable">Sign in </button>

            </div>
        </form>
    </div>
</div>
<script>

/*kod do loginu*/
let signupBtn = document.getElementById("signupBtn");
let signinBtn = document.getElementById("signinBtn");
let nameField = document.getElementById("nameField");
let title = document.getElementById("title");

signinBtn.onclick = function(){
    nameField.style.maxHeight = "0";
    title.innerHTML ="Sign In";
    signupBtn.classList.add("disable");
    signinBtn.classList.remove("disable");

}

signupBtn.onclick = function(){
    nameField.style.maxHeight = "60px";
    title.innerHTML ="Sign Up";
    signupBtn.classList.add("disable");
    signinBtn.classList.remove("disable");

}

</script>
</body>
</html>